<div id="main" class="palm-hasheader">
    <div class="palm-header">Post Twitt</div>
    <div class="palm-body-text">User:</div>
    <div id="TwittUser" name="user" x-mojo-element="TextField"></div>
    <div class="palm-body-text">Password:</div>
    <div id="TwittPass" name="pass" x-mojo-element="TextField"></div>
    <div class="palm-body-text">Message:</div>
    <div id="TwittText" name="text" x-mojo-element="TextField"></div>
    <div id="PostButton" name="Post" x-mojo-element="Button"></div>
</div>
